<div class="container">
  <center>
    <img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
    
    <h1>Open Wellness</h1>

    <%= button_to 'Login', 'auth/auth0', method: :post %>
  </center>
</div>
